* {
    margin: 0;
    padding: 0;
}

.main-nav {
    width: 100%;
    height: 80px;
    text-align: center;
    display: inline-block;
    background-color: rgb(54, 52, 52);
}

.main-nav-2 {
    width: 100%;
    height: 80px;
    display: inline-block;
    background-color: rgb(54, 52, 52);
}

.main-menu {
    font-size: 1.2em;
    font-weight: 700;
    font-family: 'Shippori Antique';
    text-align: center;
    list-style: none;
    display: inline-block;
}

.item-style {
    padding: 20px 30px 26px 20px;
    display: inline-block;
}

.item-style:hover {
    background-color: rgb(177, 175, 175);
    cursor: pointer;
}

a {
    color: #ffffff;
    font-size: 1.2em;
    font-family: 'Shippori Antique';
    text-decoration: none;
}

.menu-bar {
    display: none;
}

@media only screen and (max-width:925px) {
    .main-menu{
        display: none;
    }
    .main-menu-block {
        font-size: 1.2em;
        font-weight: 700;
        font-family: 'Shippori Antique';
        height: 100vh;
        background-color: rgb(54, 52, 52);
        text-align: center;
        list-style: none;
    }
    .item-style{
        display: block;
        border-bottom: 2px solid rgb(210, 207, 207,.2);
    }

    .menu-bar {
        display: inline-block;
        color: whitesmoke;
        padding-top: 15px;
        margin-left: 20px;
        font-size: 2em;
        margin-top: 20px;
        text-align: center;
    }

    .menu-bar:hover {
        cursor: pointer;
        background-color: rgb(210, 207, 207,.2);
    }
}

body {
    background-color: #670067;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%230D000D' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23ED0131'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");

}

/* shippori-antique-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Shippori Antique';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/shippori-antique-v8-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/shippori-antique-v8-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/shippori-antique-v8-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/shippori-antique-v8-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/shippori-antique-v8-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/shippori-antique-v8-latin-regular.svg#ShipporiAntique') format('svg');
    /* Legacy iOS */
}