.table-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    border-collapse: collapse;
    font-family:'Courier New', Courier, monospace;
    background-color: #d7e5e9;
    border-radius: 10px;
}
tr { 
    border: 1px solid rgb(64, 64, 64);
    padding: 15px 25px;
    text-align: center;
}
td {
    border: 1px solid rgb(64, 64, 64);
    padding: 15px 25px;
    text-align: center;
}

.th-basic {
    background-color: brown;
    color: whitesmoke;
    border: 1px solid rgb(64, 64, 64);
    padding: 15px 25px;
    text-align: center;
    
}

.th-silver {
    background-color: silver;
    color: whitesmoke;border: 1px solid rgb(64, 64, 64);
    padding: 15px 25px;
    text-align: center;
    
}

.th-gold {
    background-color: gold;
    color: whitesmoke;border: 1px solid rgb(64, 64, 64);
    padding: 15px 25px;
    text-align: center;
}

.th-platino {
    background-color: purple;
    color: whitesmoke;
    border-top-right-radius: 10px;
    border: 1px solid rgb(64, 64, 64);
    padding: 15px 25px;
    text-align: center;

}
.th-paquete {
    background-color:cornflowerblue;
    color: whitesmoke;
    border-top-left-radius: 10px;
    border: 1px solid rgb(64, 64, 64);
    padding: 15px 25px;
    text-align: center;
}
.th-canal {
    background-color:cornflowerblue;
    color: whitesmoke;
    border: 1px solid rgb(64, 64, 64);
    padding: 15px 25px;
    text-align: center;S

}
body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}